#a_boks{
    margin: 1.5rem;
    background-color: white;
 
    
}
#a_first_section{ 
    display: grid;
    grid-template-columns: 1fr;

}


#a_billede{
    width: 70%;

margin: 0 auto;

padding-bottom: 2rem;

}

#r_billede{
    display: grid;
    gap: 12px;
background-color: white;
max-width: 44rem;
margin: 0 auto;
padding-bottom: 2rem;

}
.row{
    height: 6rem;
gap: 2rem;
max-width: 44rem;
overflow-x: scroll;
display: flex;
    
}

.container {
    max-width: 44rem;
    max-height: 28rem;
    }
  
  .column img {
    cursor: pointer;
    width: 75px;
    height: 69px;
margin-left: 0rem;
object-fit: cover;

  }

#expandImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

@media (min-width:770px) {
    #a_first_section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 44rem;
        margin: 0 auto;
        max-height: 31.5rem;
        margin-top: 3rem;
        background-color: white;
        grid-template-rows: 1fr 1fr;
        padding-top: 0rem;
    }
    #a_second_section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 44rem;
        margin: 0 auto;
        padding-top: 6rem;
        background-color: white;
        margin-top: 0rem;
        padding-bottom: 2rem;
    }

    .boks {
        width: 44rem;
        height: 16rem;
        transform: skew(-39deg);
        background-color: 	rgb(200,255,0, 0.5);
        margin: 0 auto;
        position: relative;
        margin-bottom: -15rem;
        }

#a_billede{
    width: 23rem;
    grid-row: 2;
    grid-column: 2;
}
#a_tekst{
    grid-row: 2;
}

#a_boks{
    background-color: transparent;
    margin-top: 1.5rem;
}
footer{
    top: 17.6rem;
right: 14.1rem;
}
}