#c_boks{
    margin: 1.5rem;
    background-color: white;
    
}
    
#c_tekst {
    grid-column: span 2;
    padding-right: 1rem;
    }

  #c_second_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 44rem;
    margin: 0 auto;
    padding-top: 2rem;
    background-color: white;
    padding-bottom: 2rem;
  }

    #c_billede{
   display: none;
    }

    #c_tekst{
        margin-top: 1rem;
    }
    
    @media (min-width:770px) {
        #c_boks{
            margin: 1.5rem;
            background-color: transparent;
            margin-bottom: -12.5rem;
        }

        #c_first_section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 44rem;
            margin: 0 auto;
            max-height: 31.5rem;
            margin-top: 3rem;
            background-color: white;
            grid-template-rows: 1fr 1fr;
            padding-bottom: 2rem;
        }

        #c_second_section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 44rem;
            margin: 0 auto;
            background-color: white;
            padding-bottom: 14rem;
            margin-top: -4rem;
          }
    
        .boks {
            width: 44rem;
            height: 16rem;
            transform: skew(-39deg);
            background-color: 	rgb(200,255,0, 0.5);
            margin: 0 auto;
            position: relative;
            margin-bottom: -15rem;
            top: 1rem;
            }
    
            .boks_two {
                width: 44rem;
                height: 16rem;
                transform: skew(48deg);
                position: relative;
                background-color: 	rgb(200,255,0, 0.5);
                margin: 0 auto;
                top: 1rem;
                left: 3rem;
                }
    
    #c_billede{
        display: block;
        margin: 0 auto;
        position: relative;
        width: 23rem;
left: 16.3rem;
top: -13rem;
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
        
    }

    #c_billede_two{
        margin: 0 auto;
        position: relative;
        width: 24rem;
        left: -13.7rem;
        top: -28rem;
    }

    }
