#c_boks{
    margin: 1.5rem;
    background-color: white;
    height: 100%;
}
#c_first_section > div:nth-child(1) > h1:nth-child(1){
    margin-top: 1rem;
}

    p{
        margin: 0 auto;
        margin-left: 1rem;
        padding-top: 1rem;
    }

    #c_billede{
        width: 60%;
        height: 60%;
        margin-left: -1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    h1, h2, h3{
        margin: 0 auto;
        margin-left: 1rem;
        padding-top: 1rem;
        
    }
    h2{
        padding-top: 2rem;
    }