#f_section_wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1.5rem;
    background-color: white;
    outline: solid 10px rgb(200,255,0, 0.5);
    
}

#f_trappe{
    grid-column: span 2;
    margin-top: -3.4rem;
    
}

@media (max-width:769px){
#bg{
    display: none;
}
}


#f_tekst{
    margin: 0;
    margin-top: -1rem;
    padding-left: 1rem;
    grid-column: span 2;
    display: inline;
    
}
#f_tekst > h2:nth-child(2){
    margin-top: -2.5rem;
}
h1, h2{
    margin-left: 0;
}

@media (min-width:770px) {

    #f_first_section{
        margin-top: 1.5rem;
        max-width: 60rem;
padding: 2rem;
    }

    #f_section_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        outline: solid 10px rgb(200,255,0, 0.5);
        max-width: 44rem;
        margin: 0 auto;
        max-height: 28.5rem;
        margin-top: 2rem;
    }
    #f_trappe{
        margin-top: 1.4rem;
        width: 20.7rem;
margin-left: 20rem;
position: absolute;

transition: 3s;
        grid-row: 1;
    }

    #f_trappe:hover{
        box-shadow: 100px 100px 100px rgb(255, 255, 255);
        
transition: 3s;

    }

#f_tekst{
    padding-top: 1rem;
    padding-left: 2rem;
grid-row: 1/2;
}

#boks{
    width: 45rem;
    height: 12rem;
    grid-column: span 2;
    grid-row: 2;
    transform: skew(39deg);
    margin-left: 0.1rem;
    position: relative;
    margin-top: 14rem;
    background-color: rgb(200,255,0, 0.5);
    overflow: hidden;
}
}



