#f_section_wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1.5rem;
    background-color: white;
    
}

#f_trappe{
    grid-column: span 2;
    grid-row: 2/3;
    margin-top: -3.4rem;
    
}


#f_tekst{
    margin: 0;
    margin-top: -1rem;
    padding-left: 1rem;
    grid-column: span 2;
    
}
#f_tekst > h2:nth-child(2){
    margin-top: -2.5rem;
}

@media (min-width:768px) {

    #f_section_wrapper{
        background-color:transparent;
    }

    #f_trappe{
        display: none;
    
        
    }


}


