
/*STYLING AF MOBILE*/

#k_boks{
    
    margin: 1.5rem;
    background-color: white;
}
#k_first_section{
    display: grid;
    grid-template-columns: 1fr;
}

#hul_billede, #hul_billede_two{
    width: 80%;
 margin: 0 auto;
 margin-top: 3rem;
 padding-bottom: 4rem;
   
}

#k_second_section > div:nth-child(1) > h2:nth-child(1){
    padding-top: 0rem;
}

#billede_one img, #billede_two img, #billede_three img, #billede_four img{
    width: 100%;

}

#billede_one, #billede_two, #billede_three, #billede_four{
    padding-left: 1rem;
    padding-top: 1rem;
}

#k_s_tekst{
    padding-top: 2rem;
}


/*STYLING AF DESKTOP*/

@media (min-width:770px) {
    #k_first_section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        max-height: 31.5rem;
        background-color: white;

width: 60rem;
outline: solid 10px rgb(200,255,0, 0.5);
padding: 2rem;
    }

    #k_boks{
        background-color: transparent;
        margin-bottom: -12.5rem;
    }

    .boks {
        width: 44rem;
        height: 16rem;
        transform: skew(-39deg);
        background-color: 	rgb(200,255,0, 0.5);
        margin: 0 auto;
        position: relative;
        margin-bottom: -15rem;
        top: 1rem;
        }

        .boks_two {
            width: 44rem;
            height: 16rem;
            transform: skew(48deg);
            position: relative;
            background-color: 	rgb(200,255,0, 0.5);
            margin: 0 auto;
            top: 1rem;
            left: 3rem;
            }

#hul_billede{
    width: 35rem;
    margin: 0 auto;
    position: relative;
    left: 0.3rem;
    top: 1rem;
    transition: 3s;
}

#hul_billede:hover{
    transform:scale(0.9);
    transition: 3s;

    
}



#hul_billede_two{
    margin: 0 auto;
width: 34rem;
padding-top: 0rem;
position: relative;
left: 2rem;
top: -14rem;

transition: 3s;

}

#hul_billede_two:hover{
    transform:scale(0.9);
    transition: 3s;

}
#k_tekst {
    grid-column: span 2;
    padding-right: 1rem;
    }

  #k_second_section, #k_third_section, #k_fourth_section, #k_fifth_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    background-color: white;
    margin-top: 0rem;


    max-width: 60rem;
outline: solid 10px rgb(200,255,0, 0.5);
padding: 2rem;
  }

  p{
      padding-top: 0;
  }
#billede_one, #billede_two, #billede_three, #billede_four{
    grid-column: 2;
    grid-row: 1;
    padding-right: 1rem;
    padding-top: 2rem;
}

#billede_one img, #billede_two img, #billede_three img, #billede_four img{
    width: 20rem;

}

}