
body{
    
}

.menu_knapper{
   display: flex;
   list-style:none;
   padding: 0;
   padding-left: 0.5rem;
   margin: 0 auto;
   gap: 1rem;
   position: sticky;
}
.menu_knapper img{
    width: 4.5rem;
    height: 4.5rem;
}
