main{
    display: grid;
    grid-template-columns: 1fr;
}


body{
    background-image: url("ui_elements/baggrund_three.webp");
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    
}

nav ul{
   display: flex;
   list-style:none;
   justify-content: space-between;
   background-color: rgb(200,255,0, 0.5);
   padding-left: 0rem;
   margin: 1rem;
}
.menu_knapper img{
    width: 5rem;
    height: 5rem;
    
}

header{
    
    z-index: 10;
    position: sticky;
    position: -webkit-sticky;
}

footer{
    
        background-color: rgba(200, 255, 0, 0.7);
        text-align: center;
        padding: 1rem;
    
}


@media (min-width:770px) {
    header nav ul{
        display: flex;
        padding: 0;
        list-style:none;
        max-width: 50rem;
        margin: 0 auto;
        background-color:transparent;
    }

    footer {
        background-color: white;
        width: 48rem;
        margin-top: 15rem;
        margin: 0 auto;
        top: 9.6rem;
        position: relative;
        right: 5.1rem;
        padding: 1px;
        padding-left: 1re;
        text-align: center;
        }

     }

.menu_knapper img:hover{
    filter: drop-shadow(8px 8px #c8ff00);
    
}

.menu_knapper img{
    width: 4.5rem;
    height: 4.5rem;
    
}

h1{
    font-family: "Bebas Neue";
    font-size: 3rem;
margin-left: 1rem;
margin-top: 1rem;
}

h2{
    font-family: "Bebas Neue";
    font-size: 1.55rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

h3{
    font-family: "bebas neue";
    font-size: 1.25rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

h4{
    font-family: "montserrat";
    font-size: 1.15rem;
    margin-left: 1rem;
margin-top: 1rem;
}

p{
    font-family: "montserrat";
    font-size: 1rem;
    margin-left: 1rem;
margin-top: 1rem;
}

