img{
    display: block;
}


body{
    background-image: url("ui_elements/baggrund_three.png");
    background-position: center;
    background-attachment: fixed;
    
}

header nav ul{
   display: flex;
   list-style:none;
   justify-content: space-between;
   margin: 0 auto;
   margin-left: -2.5rem;
   padding-bottom: 2rem;
   position: sticky;
  
}
.menu_knapper img{
    width: 4.5rem;
    height: 4.5rem;
    
}

.menu_knapper img:hover{
    filter: sepia(1);
}

h1{
    font-family: "Bebas Neue";
    font-size: 48px;

}

h2{
    font-family: "Bebas Neue";
    font-size: 27px;

}

h3{
    font-family: "bebas neue";
    font-size: 20px;

}

h4{
    font-family: "montserrat";

}

